<header>
        <nav>
            <div class="logo">
                <a href="/home/index">ECommerce</a>
            </div>
            <ul>
                <li><a href="/home/index">Home</a></li>
                <li><a href="/products/">Products</a></li>
                <li><a href="/users/new">Register</a></li>
                <li><a href="/session/new">Login</a></li>
            </ul>
        </nav>
    </header>
